<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contrase침a</title>
</head>
<body>
    <h1>Restablecer Contrase침a</h1>
    
    {{#if expired}}
        <p>El enlace de restablecimiento ha expirado. Ingresa tu correo para recibir un nuevo enlace.</p>
    {{else}}
        <p>Ingresa tu correo para recibir un enlace de restablecimiento de contrase침a.</p>
    {{/if}}

    <form action="/forgot-password" method="POST">
        <label for="email">Correo electr칩nico:</label>
        <input type="email" name="email" id="email" value="{{email}}" required>
        <button type="submit">Enviar enlace de restablecimiento</button>
    </form>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
</body>
</html>
